<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to Babshium</title>
</head>
<body>
  <div>
    <section>
<pre>
Server hostname: {{ hostname }}
Database server: {{ database.engine }} ({{ database.url }})
{% if database.is_sqlite %}<span class="warning">Data persistence warning: You are currently using SQLite. This is fine for development, but your data won't be persisted across application deployments.</span>{% endif %}
Page views: {{ count }}
</pre>

          </section>
        </div>

</section>


</body>
</html>
